@model Data.Entities.AlbumEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AlbumEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Band)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlbumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
