@model List<Album>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Lista Albumów</h1>

<a class="btn btn-primary" asp-controller="Album" asp-action="Create">
    Dodaj Album!
</a>

@if (Model.Count > 0)
{
    <table class="table">

        <thead>
            <tr>
                <th>@Html.DisplayNameFor(i => Model[0].Name)</th>
                <th>@Html.DisplayNameFor(i => Model[0].Band)</th>
                <th>@Html.DisplayNameFor(i => Model[0].PublicationDate)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            { 
            
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Band
                        </td>
                        <td>
                            @item.PublicationDate
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-controller="Album" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                            <a class="btn btn-outline-info" asp-controller="Album" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                            <a class="btn btn-outline-danger" asp-controller="Album" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
}
