@model List<Contact>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    Lista kontaktów
</h1>
<a class="btn btn-primary" asp-controller="Contact" asp-action="Create">
    Utwórz kontakt
</a>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(i => Model[0].Name)</th>
                <th>@Html.DisplayNameFor(i => Model[0].Email)</th>
                <th>@Html.DisplayNameFor(i => Model[0].Priority)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Priority.GetDisplayName()
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Contact" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-outline-info" asp-controller="Contact" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-outline-danger" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
